<div>
    <form class="search-container">
        <input type="text" placeholder="Search..." name="search" id="searchTerm">
        <button type="submit" id="submitBtn"><i class="fa fa-search"></i></button>
    </form>
</div>
<section>
    <h2>Movie & Show Recommendation Slideshow</h2>
    <div class="movie-carousel" {{carousel}}>
        <a class="carousel-item" href="#one!"><img src="" id="movieNum0"></a>
        <a class="carousel-item" href="#two!"><img src="" id="movieNum1"></a>
        <a class="carousel-item" href="#three!"><img src="" id="movieNum2"></a>
        <a class="carousel-item" href="#four!"><img src="" id="movieNum3"></a>
        <a class="carousel-item" href="#five!"><img src="" id="movieNum4"></a>
    </div>
</section>
<section>
    <h2>Book Recommendation Slideshow</h2>
    <div class="book-carousel" >
        <a class="carousel-item" href="#one!"><img src="" id="bookNum0"></a>
        <a class="carousel-item" href="#two!"><img src="" id="bookNum1"></a>
        <a class="carousel-item" href="#three!"><img src="" id="bookNum2"></a>
        <a class="carousel-item" href="#four!"><img src="" id="bookNum3"></a>
        <a class="carousel-item" href="#five!"><img src="" id="bookNum4"></a>
    </div>
</section>
<section>
    <h2>Relevant Posts</h2>
    <div id="post-container">
        <h4 id="post-title-0"></h4>
        <p id="contents-0"></p>
        <p id="genre-tag-0"></p>
    </div>
    <div id="post-container">
        <h4 id="post-title-1"></h4>
        <p id="contents-1"></p>
        <p id="genre-tag-1"></p>
    </div>
</section>
<script src="index.js"></script>