:root {
    --primary: #f5f5e5;
    --secondary: #f6f6f6;
    --tertiary: #d18c03;
    --light-dark: #88805f;
    --dark: #333333;
    --border-radius: 0.3rem;
  }
  
  * {
    box-sizing: border-box;
  }


body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
    color: var(--light-dark);
    line-height: 1.5;
    font-size: 16px;
  }

h1 {
    font-family: 'Special Elite', cursive;
    font-weight: 900;
    margin: 0;
    color: var(--tertiary);
    line-height: 1.25;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

.navbar {
    width: 100%;
    position: static;
    background-color: var(--secondary);
  }
  
  .nav-item {
    margin: 0 40px;
  }
  
  .nav-item a {
    color: var(--light-dark);
    align-items: flex-end;

  }

  h2 a:visited {
    color: var(--tertiary);
  }
  
  h2 a {
    color: var(--primary);
  }
  
  header {
    margin-top: 0px;
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    font-size: 1.2rem;
  }

  .hero {
    padding: 3% 4%;
    background-color: var(--dark);
    color: var(--primary);
  }
  
  .hero p {
    max-width: 75%;
  }
  
  .app-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--tertiary);
  }
  
  .app-title a {
    color: var(--dark);
  }

  p {
    color: var(--tertiary);

  }

  .main {
      background-color: var(--secondary);
  }

  .post {
  
  }